header {
  width: 100%;
  height: 32px;
  position: static;
  z-index: 99;

  .header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    &-btn {
      background-color: #fff;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
